*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html,
body{
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0px 15px lightgray;
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
}

.logo-gif{
    height: 3.5rem;
}

.header-title-container{
    display: none;
}

.login-container{
    display: none;
}

.menu-button{
    font-size: 2rem;
}

.menu-button:hover{
    cursor: pointer;
}

.menu-content{
    position: absolute;
    background-color: rgba(69, 69, 69, 0.414);
    backdrop-filter: blur(8px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.8rem 0;
    gap: 1.8rem;
    display: none;
}

.menu-content ol{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}

.menu-content ol a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.login-button{
    text-decoration: none;
    background-color: #6674CC;
    padding: 1rem 1.5rem;
    border-radius: 200px;
    color: white;
    font-weight: 500;
}

.cancel-button-container{
    font-size: 1.5rem;
    display: none;
}

@media (min-width: 1024px) {
    .menu-button-container{
        display: none;
    }

    .header-title-container{
        display: block;
    }

    .header-title-container ul{
        list-style: none;
        display: flex;
        gap: 2rem;
        font-weight: 500;
    }

    .header-title-container ul li a{
        text-decoration: none;
        color: black;
    }

    .login-container{
        display: block;
        background-color: #6674CC;
        padding: 1rem 1.5rem;
        border-radius: 200px;
    }

    .login-container a{
        text-decoration: none;
        color: white;
    }
}

/* codehelp red */


.red-grid-main-container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgba(15, 6, 6, 0.845), rgba(227, 113, 109, 0.741));
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1.5rem;
    max-width: 83rem;
}

.red-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tuned{
    border: 1px solid #DD2828;
    color: #DD2828;
    padding: 0.5rem 0.8rem;
    background-color:rgba(239, 68, 68, 0.1);
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.red-heading{
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
}

.red{
    color: #DC2626;
}

.red-content{
    font-size: 18px;
    color: rgb(161, 161, 170);
}

.notify-container{
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 38, 38);
    border-radius: 10px;
}

.notify-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    /* background-color: yellow; */
}

.notify{
    font-size: 14px;
}

.red-logo-container{
    background: rgba(15, 15, 15, 0.5);
    width: 20rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.logo-name{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

@media (min-width: 640px) {
    .notify-container{
        width: 7rem;
        padding-right: 9px;
    }
}

@media (min-width: 1024px) {
    .red-grid-main-container{
        flex-direction: row;
    }
}

/* code help services */

.max-width{
    max-width: 83rem;
    margin: 0 auto;
}

.serivce-flex-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.service-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    position: relative;
}

.service-right-top{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.service-heading{
    font-size: 1rem;
    text-align: center;
    color: #6B7280;
}

.service-desc{
    text-align: center;
    color: #ABAFB5;
    max-width: 31rem;
}

.service-content{
    display: flex;
    gap: 1.5rem;
}

.view-course-button{
    background-color: #6674CC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem; 
    border-radius: 2rem;   
}

.view-course-button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
} 

.view-course-button:hover{
    background-color: #4b559b;
}

.a-of-watch-video{
    text-decoration: none;
}

.watch-video-main-container{
    border: 1px solid #e3491a;  
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 2rem;    
    letter-spacing: 1.3px;
}

.watch-video-main-container:hover{
    background: rgba(56, 56, 56, 0.834);;
}

.watch-video{
    color: black;
    font-weight: 540;
}

.standing-line{
    color: black;
}

.watch-video-left{
    display: flex;
    gap: 5px;
    color: #EF476F;
}

.service-right-bottom{
    display: none;

}

.service-left ol{
    list-style: none;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 2.7rem;
}

.service-left ol a{
    text-decoration: none;
    letter-spacing: 1.4px;
    font-size: 18px;
    color: black;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3491a;
    padding: 1rem 4rem;
    border-radius: 0.6rem;
}

.service-left ol a:hover{
    background: rgba(57, 57, 57, 0.308)
}

@media (min-width: 640px) {
    .service-heading{
        font-size: 1.5rem;
        max-width: 35rem;
    }

    .service-left ol a{
        font-size: 24px;
        padding: 1rem 1.8rem;
    }
}

@media (min-width: 768px) {
    .service-left ol{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
} 

.aboutpersons{
    display: none;
}

@media (min-width: 1280px) {
    .aboutpersons{
        display: block;
    }
    .serivce-flex-main-container{
        flex-direction: row;
    }

    .service-right{
        justify-content: start;
    }

    .service-heading{
        text-align: start;
    }

    .service-desc{
        text-align: start;
        margin-left: -4rem;
    }

    .service-right-bottom{
        display: flex;
        border: 1px solid #e3491a;
        border-radius: 3rem;
        padding: 1rem ;
        gap: 11rem;
    }

    .person-pic{
        display: flex;
        position: relative;
    }

    .persons-container-shape{
        display: flex;
        height: 3rem;
        border-radius: 50%;
        border: 3px solid white;
        overflow: hidden;
        transition: transform 0.3s ease-in;
    }

    .persons-container-shape:hover{
        cursor: pointer;
        transform: scale(1.2);
        z-index: 99;
    }

    .person2{
        position: absolute;
        left: 35px;
    }

    .person3{
        position: absolute;
        left: 65px;
    }

    .person4{
        position: absolute;
        left: 95px;
    }

    .person5{
        position: absolute;
        left: 125px;
    }

    .person6{
        position: absolute;
        left: 155px;
    }

    .about-person-design{
        background-color: rgb(51, 51, 51);
        color: white;
        padding: 0.8rem 1rem;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        text-align: center;
    }

    .aboutperson1{
        position: absolute;
        top: 300px;
        left: 10px;
        display: none;
    }

    .aboutperson2{
        position: absolute;
        top: 300px;
        left: 40px;
        display: none;
    }

    .aboutperson3{
        position: absolute;
        top: 300px;
        left: 70px;
        display: none;
    }

    .aboutperson4{
        position: absolute;
        top: 300px;
        left: 100px;
        display: none;
    }

    .aboutperson5{
        position: absolute;
        top: 300px;
        left: 130px;
        display: none;
    }

    .aboutperson6{
        position: absolute;
        top: 300px;
        left: 160px;
        display: none;
    }

    .persons{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
        font-weight: 500;
    }
    
} 

/* tarsparent card 1 */

.stats-card-design{
    /* x y blur-radius spread-radius color */
    box-shadow: inset 0 0 5px 1px rgba(102, 102, 102, 0.412);
    border-radius: 10px;
    margin: 4rem 2rem 0;
    padding: 6rem 1.5rem 3rem;
    background-color: rgba(255, 255, 255, 0.418);
    backdrop-filter: blur(10px);
    position: relative;
    display: flex;
    position:relative;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.students-button{
    border: 1px solid #e3491a;
    border-radius: 3rem;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.stats-main-container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
}

.stats-design{
    /* x y blur spread color */
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.315);
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
}

.stats-design h3{
    font-size: 2rem;
}

@media (min-width:500px){
    .stats-main-container{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 933px) {
    .stats-main-container{
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1280px) {

    .stats-card-design{
        padding: 1rem 1.5rem 3rem;
    }

    .students-button{
        display: none;
    }
}

/* grow card & empowerment card */

.card-main-container{
    box-shadow: inset 0 0 5px 1px rgba(102, 102, 102, 0.412);
    border-radius: 10px;
    margin: 4rem 2rem;
    padding: 2.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.418);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.about-card{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card-heading-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question{
    font-size: 1.2rem;
    font-weight: 550;
    letter-spacing: 1px;
}

.grow-que{
    color: #EF476F;
}

.card-heading-container h1{
    color: rgb(52, 52, 52);
    font-size: 2rem;
    letter-spacing: 1px;
}

.heading-content{
    font-weight: 500;
    letter-spacing: 0.5px;
}

.lets-connect a{
    text-decoration: none;
    background-color: #6674CC;
    color: white;
    padding: 1rem 2rem;
    border-radius: 2rem
}

.content-card-container{
    max-width: 40rem;
    margin: 0 auto;
}

.content-card{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-bottom: 1px solid black;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.content-logo{
    border: 1px solid gray;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    padding: 1.5rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.logo1{
    width: 1.5rem;
    fill: #FA9522;
}

.logo2{
    width: 1.5rem;
    fill: #EF476F;
}

.content-card h3{
    color: rgb(52, 52, 52);
}

.content-content{
    letter-spacing: 0.8px;
}

@media (min-width:768px) {
    .about-card{
        margin: 2rem 3rem 0;
    }
}

@media (min-width:1024px) {
    .card-main-container{
        flex-direction: row-reverse;
    }

    .about-card{
        justify-content: center;
    }

    .content-card-container{
        margin: 0 4rem;
    }
}

/* empowering card */

@media (min-width:1024px) {
    .emp-main{
        flex-direction: row;
    }
}

/* quick compiler */

.compiler-about-card{
    max-width: 30rem;
}

.compiler-que{
    color: #FA9725;
}

.compiler-heading-content{
    font-size: 1.2rem;
    color: gray;
    letter-spacing: 1px;
    line-height: 1.3rem;
}

.html-format-main-container{
    min-width: 40rem;
    background-color: beige;
    display: flex;
    padding: 1rem 3rem 1rem;
    font-size: 1.3rem;
    gap: 1rem;
}

.line-number-container{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: #81868F;
}

.foramt-main-container{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: #FA9827;
}

/* fruitBox flex & Quick compiler */

.fruitbox-quickcompiler-both-container{
    display: flex;
    flex-direction: column;
}

@media (min-width:1024px) {
    .fruitbox-quickcompiler-both-container{
        flex-direction: row;

    }    
}

.fruit-box-main-container{
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin: 2rem;
    overflow: hidden;
    position: relative;
}

.fruit-quick-content-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1.5rem 0rem;
}

.fruit-title{
    color: #7F92DA;
    font-weight: 700;
}

.fruit-quick-content{
    color: #abafb5;
    font-weight: 550;
}

.try-button-container{
    border-radius: 4rem;
    padding: 0.8rem 0;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6674CC;
}

.try-button-container a{
    text-decoration: none;
    color: white;
    font-weight: 550;
}

.fruit-quick-img{
    display: flex;
    justify-content: end;
}

.fruit-quick-img img{
    width: 15rem;
}

@media (min-width:768px){
    .fruit-quick-img img{
        width: 30rem;
    }
}

.quick-title{
    color: #15A0E7;
}

/* courses available */

.courses-available-heading h2{
    text-align:center;
    font-size: 2.3rem;
    letter-spacing: 1px;
}

.available-course-main-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid lightgray;
    padding: 6rem 0;
}

.course-available-card1{
    position: relative;
}

.new-pop{
    position: absolute;
    background-color: #6674CC;
    top: -15px;
    left: -20px;
    padding: 0.6rem 1rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
}

.courses-available-heading span{
    color: #6E96CF;
}

.uppercard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.available-course-card-design{
    margin: 0 auto;
    background-color: #F3F4F6;
    box-shadow:0 0 3px 1px #c7c7c7;
    border-radius: 10px;
    padding: 1.2rem;
    max-width: 377.3px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-decoration: none;
}

.available-course-card-design:hover{
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(126, 126, 126, 0.397);

}

.available-course-card-design img{
    width: 100%;
    border-radius: 10px;
}

.course-heading{
    color: black;
    font-size: 1.5rem;
    font-weight: 570;
}

.price-details{
    display: flex;
    gap: 1rem;
    font-weight: 570;
    align-items: center;
}

.discounted-price{
    color: #6E96CF;
}

.original-price{
    color: #777C85;
}

.discount{
    background-color: #1DD1A1;
    color: black;
    padding: 0.2rem 0.8rem;
    border-radius: 5px;
}

@media (min-width:816px) {
    .available-course-main-container{
        gap: 2rem;
    }
    .uppercard{
        flex-direction: row;
    }   
}

/* login & kick start */

.kick-start-main-container{
    text-align: center;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
}

.kick-start-main-container h2{
    font-size: 2.5rem;
    color: #020202;
    letter-spacing: 1px;
    max-width: 50rem;
}

.kick-start-content{
    letter-spacing: 1px;
    max-width: 60rem;
}

.xyz{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    position: relative; 
    gap: 1rem;
    margin-bottom: 4rem;
}

.botton-signin-main-container{
    background-color: white;
    box-shadow: 0 0 10px 3px rgba(144, 144, 144, 0.362);
    padding: 4rem 0rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media (min-width:425px) {
    .botton-signin-main-container{
        padding: 4rem 0rem;
    }
}

.mail-github-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mail-git-design{
    text-decoration: none;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
}

.mail-git-design svg{
    color: black;
}

.mail-git-design p{
    color: black;
}

.or-option-container{
    color: #B1B5BA;
    letter-spacing: 1px;
}

.mail-login-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.email-login{
    display: flex;
    gap: 1rem;
    border: 1px solid #B1B5BA;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    
}

.email-login i{
    font-size: 1.2rem;
}

.email-login input{
    border: none; 
    font-size: 1.2rem;   
}

.email-login input::placeholder{
    font-size: 1.2;
}

.no-acc{
    text-align: center;
    text-decoration: none;
    color: #B1B5BA;
    font-weight: 600;
}

.bottom-login-button a{
    text-decoration: none;
    background-color: #6674CC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0;
    color: white;
    font-weight: 550;
    border-radius: 2rem;
}

.bottom-activities-main-container{
    border: 1px solid #B1B5BA;
    margin: 1rem;
    border-radius: 20px;
    padding: 1rem 1rem;
    max-width: 45rem;
}

.activity{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #979BA2;
    gap: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
}

.activity-logo-container{
    border-radius: 3rem;
    padding: 1rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7B8FD9;
}

.activity-logo-container svg{
    fill: white;
}

.learn-heading{
    color: #7B8FD9;
}

.activity-content{
    color: #979BA2;
    letter-spacing: 1px;
}

.apply-bg{
    background-color: #EF476F;
}

.apply-heading{
    color: #EF476F;
}

.grow-container{
    border-bottom: none;
    padding-bottom: 0;
}

.grow-bg{
    background-color: #23C45C;
}

.grow-heading{
    color: #23C45C;
}

@media (min-width:1280px) {
    .xyz{
        flex-direction: row;
        justify-content: start;
    }

    .botton-signin-main-container{
        position: absolute;
        z-index: 99;
        left: 40rem;
    }

    .bottom-activities-main-container{
        width: 130rem;
        padding: 1rem 10rem 1rem 1rem;
    }
}

/* Welcome to our coding family */

.welcome-flex-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 0 2rem;
    max-width: 50rem;
    position: relative;
}

.wel-heading{
    font-size: 2.5rem;
    color: rgb(37, 37, 37);
    text-align: center;
}

.wel-content{
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 25px;
}

/* bottom-icon */

.icon-main-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 9rem auto;
}

.icon-containerr{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 3rem;
    text-decoration: none;
}

.logo-div-shape{
    /* border: 1px solid black; */
    border-radius: 50%;
    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
    box-shadow: 0 0 30px 10px rgba(117, 117, 117, 0.223);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.logo-div-shape img{
    height: 50px;
}

.bottom-logo-name{
    display: flex;
    gap: 1rem;
}

.bottom-logo-name p{
    font-size: 1.2rem;
    font-weight: 530;
}

.youtube{
    color: #F80305;
}

.linkedin{
    color:#0294E2
}

.discrod{
    color: #6D66E8;
}

.telegram{
    color: #00BFE7;
}

/*footer */

footer{
    background-color: #F3F4F6;
    padding: 12rem 0 2rem;
    display: flex;
    justify-content: center;
}

.footer-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;    
    border-bottom: 1px solid black;
    padding-bottom: 3rem;
}

.codehelp-logo-container img{
    margin: 0 auto;
    height: 50px;
}

.footer-content-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.footer-content{
   display: flex;
   flex-direction: column;
   gap: 0.8rem; 
}

.footer-content a{
    text-decoration: none;
    color: gray;
}

.gmail-container{
    display: flex;
    color: gray;
    gap: 1rem;
}

.footer-bottom{
    text-align: center;
    padding-top: 2rem;
}

@media (min-width: 768px) {
    footer{
        padding: 12rem 1rem 2rem;
    }

    .footer-top{
        flex-direction: row;
        align-items: start;
    }   
}